.Input {
 
  border: 3px solid transparent;
  border-radius: 9999px;
  background-image: linear-gradient(
      90deg,
      rgba(235, 233, 252, 0.996) 0%,
      rgba(237, 236, 253, 0.877) 100%
    ),
    linear-gradient(90deg, #88b1ff 0%, #6f6695 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: filter 0.2s;
  padding-left: 60px;
  width: 356px;
  height: 76px;
  text-align: left;
}

.Input::placeholder {
    color: rgba(118, 123, 179, 1);
    font-size: 20px;
}