.Law-title {
    position: fixed;
    top: 20px;
    left: 20px;
    margin: 0;
    z-index: 1000;
    font-size: 40px;
    font-weight: bold;
    color: #3D4E84;
  }

.result_container {
    background: linear-gradient(to right, #88B1FF 0%, #6F6695 100%);
    border-radius: 24px; /* 원하는 radius 값 */
    padding: 3px; /* border 두께 */
}

.result_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(228, 212, 212, 0.2); */
    border-radius: 0px; /* 외부 radius보다 작게 (border 두께만큼 뺀 값) */
    margin: 3px; /* border 두께와 동일하게 */
    z-index: -1;
}

.result_inner {
    width: 1600px;
    height: 730px;
    background-color: #e5e8ff;
    border-radius: 20px;
    margin: 2px 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    
}
.result_inner > .consult {
    flex: 1;
}

.result_inner > .analist {
    flex: 1;
}

.divider {
    width: 2px;
    background-color: #6F6695;
    margin: 0 10px;
    height: 90%;
    align-self: center;
}

.result_title {
    font-size: 30px;
    font-weight: bold;
}

.consult_part {
    padding: 50px 64px;
}

.analist_part {
    padding: 50px 64px;
}

.consult_title , .analist_title {
    color: #767BB3;
    font-size: 24px;
    font-weight: bold;
}

.consult_content , .analist_content {
    font-size: 18px;
    margin-top: 20px;
}

.btn {
    justify-content: center;
    gap: 40px;
}

.dirbtn {
    font-size: 20px;
}